{% extends "@Contao/frontend_module/_base.html.twig" %}

{% block wrapper_tag %}multi_calendar{% endblock %}

{% block content %}

    {% block global_nav %}
        <table {{- attrs(global_nav_attributes|default).addClass('global-nav') -}}>
            <tbody>
                <tr>
                    <td colspan="2" class="head previous text-left">
                        {% if prevHref|default is not empty %}
                            <a href="{{ prevHref }}" title="{{ prevTitle }}">{{ prevLink }}</a>
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td colspan="3" class="head current text-center">
                        {{ current|default }}
                    </td>
                    <td colspan="2" class="head next text-right">
                        {% if nextHref|default is not empty %}
                            <a href="{{ nextHref }}" title="{{ nextTitle }}">{{ nextLink }}</a>
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                </tr>
            </tbody>
            </table>
    {% endblock %}

    {% block calendars %}
        <div {{- attrs(calendars_attributes|default) -}}>
            {%  for calendar in rendered_calendars %}
                {% block calendar %}
                    <div {{- attrs(single_calendar_attributes|default).addClass('single-calendar') -}}>
                        {{ calendar|raw }}
                    </div>
                {% endblock %}
            {%  endfor %}
        </div>
    {% endblock %}

    {% block styling %}
        <style>
            /* do not display the individual calendar's navigation links */
            .head.previous,
            .head.next
            {
            display: none;
            }
            /* instead: do display the global navigation links introduced by the module */
            .global-nav .head.previous,
            .global-nav .head.next
            {
                display: table-cell;
            }
        </style>
    {% endblock %}
{% endblock %}
